                .banner {
                    background-image: url("Gambar.jpeg");
                    background-position: no-repeat center center;
                    background-size: cover;
                    padding-top: 20%;
                    padding-bottom: 20%;
                }
                
                .navbar {
                    background-color: #336b87;
                }
                
                .hovered-card {
                    transition: 0.3s;
                }
                
                .hovered-card:hover {
                    transform: scale(1, 1.2);
                }
                
                #News {
                    background-color: #e2edff;
                }
                
                section {
                    padding-top: 5rem;
                }
                /*FOOTER*/
                
                .footer {
                    background-color: #9ec5df;
                    color: rgb(17, 14, 14);
                }
                
                .footer .container {
                    flex-wrap: wrap;
                }
                
                .footer p {
                    font-size: 15px;
                    font-weight: lighter;
                }
                
                .icon-sosial-media .bx {
                    font-size: 60px;
                    transition: all 0.4s;
                    color: rgb(150, 150, 150);
                }
                
                .icon-sosial-media .bx:hover {
                    font-size: 61px;
                    color: rgb(4, 29, 46);
                }
                
                li {
                    list-style: none;
                }
                
                .footer-copyright {
                    background-color: #336b87;
                    font-weight: lighter;
                    color: #fff;
                }
                /* Akhir FOOTER */
                
                .responsive {
                    width: 100%;
                    height: auto;
                }
                
                .justify {
                    font-size: 2vw;
                }